/* -------------------------------------------------------------------------- *
 * Theme
 * -------------------------------------------------------------------------- */

/* --- General -------------------------------------------------------------- */

body {
  background-color: #E4E7EA;
}
a {
  color: #8ACDFF;
}
a:hover {
  color: #ffb300;
}

/* header image but also cards before hover @ bottom
if they have no image on the post */
.bg-image.no-image {
  background-color: #ffb300;
}

/* --- Navbar --------------------------------------------------------------- */

.navbar {
  background-color: #ffb300;
  color: black;
}
.navbar a {
  color: black;
}
.navbar--nav-link:hover {
  background-color: rgba(255,255,255,.5);
  border-bottom: 3px solid white;
}

/* --- Header --------------------------------------------------------------- */

.header {
  background-color: #333;
  color: white;
}
.header .navbar.fixed.autohide.show {
  background-color: #26a69a;
}
.header--subtitle {
  color: white;
}

/* --- Content -------------------------------------------------------------- */

.post--content > h1,
.post--content > h2,
.post--content > h3,
.post--content > h4,
.post--content > h5,
.post--content > h6 {
  border-color: teal;
}
.post--content p > code {
  background-color: #e0f2f1;
  color: teal;
}
.post--content blockquote {
  background-color: #e0f2f1;
  border-color: teal;
}
.post--tags a {
  color: #888;
  background-color: rgba(127,127,127,0.15);
}
.post--tags a:hover {
  background-color: rgba(127,127,127,0.3);
}

/* --- Cards ---------------------------------------------------------------- */

.card {
  background-color: white;
}
.card.image .bg-darken {
  color: white;
}
.card-image .bg-lighten {
  color: black;
}
.card--back {
  background-color: #333;
  color: white;
}

/* --- Author --------------------------------------------------------------- */

.author {
  background-color: rgba(0,0,0,.05);
}
.author--media {
  background-color: #8ACDFF;
}

/* --- FABs ----------------------------------------------------------------- */

/* share button at top of post */

.fab {
  color: white;
  background-color: #3AAAFF;
}
.fab:hover {
  color: white;
}

/* --- Buttons -------------------------------------------------------------- */

.button.solid {
  color: white;
  background-color: #ffb300;
}

/* --- Waves ---------------------------------------------------------------- */

.wave {
  background-color: white;
}

/* --- Footer --------------------------------------------------------------- */

.footer {
  background-color: #8ACDFF;
}
.footer a {
  color: #473816;
}
.footer a:hover {
  color: #FFFFFF;
}
.footer--top {
  color: black;
}
.footer--bottom a {
  color: #004d40;
}
.footer--bottom a:hover {
  color: #3D3626;
}
.footer--bottom {
  color: #004d40 ;
}
